<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div>土曜、日曜、祝日を休日として計算しています。</div>
  <div>
    <p>
      祝日データは <a
        href="https://github.com/holiday-jp/holiday_jp-js"
        rel="nofollow"
        target="_blank">holiday-jp/holiday_jp-js</a
      > を利用しています。
    </p>
  </div>
  <div>
    <a
      href="https://github.com/darashi/renkyu-maker"
      rel="nofollow"
      target="_blank">GitHub</a>
  </div>
</footer>
